# Dependency Directories
/node_modules

# Security/Secrets
secrets/password.txt

# Docker/Build Files

# Exclude the entire secrets directory if you wish, 
# but specifically listing the file is safer if you have other, non-secret files in 'secrets'.
# volumes
# e.g., if you were using a local Postgres volume:
# db_data/